@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/digital-7_mono.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Digital-7', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100vh;
}

#timer {
    font-size: 90;
    color: white;
}

