<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/default.css">
    <title>Timer</title>
</head>

<body>
    <span id="timer">00:00:00</span>
    <script type="text/javascript">
        const channel = <%- JSON.stringify(channel) %>
    </script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/js/default.js"></script>
</body>

</html>